@charset "UTF-8";

/* default display items as block-level */
article, aside, figcaption, footer, header, main, nav, section {
	display: block;
}

/* default no padding on the boxes */
html, body, h1, h2, h3, ul, li, a, p, article, aside, footer, header, main, nav, section {
	padding: 0;
	margin: 0;
}

article p {
	padding-left: 10px;
}

body style {
	display: block;
	background: #333;
	color: white;
	font: 13px/1.8 Monaco, Mono-Space;
	padding: 20px;
	white-space: pre;
}

/* setup for when a week has more than one subject */
.multi {
	list-style: none;
	font-style: italic;
}

/* used to italicize the subsections of the weeks on the index*/
.title {
	font-style: italic;
}
.nextCourse {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 256px;
	color: black;
	text-align: right;
    height: 100px;
    display: block;
    vertical-align: top;
}

.banner {
	background-color: #11233b;
	color: white;
	padding: 10px 20px;
}

header {
	position: relative;
}

.betaLogo {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: inherit;
}
.betaLogoFlip {
	position: absolute;
	right: 15px;
	top: 15px;
	background-color: inherit;
	float: left;
}

.asidePic {
	border: 3px;
	height: 440px;
	width: 264px;
}

/* testing to see if I can make the hyperlinks of the
nav bar to be variables 
.navLinksHome {
	color: white;
	content: url("index.html");
}
I'd like to make a class or maybe i need an ID for index, etc */

body {
		width: 960px;
		margin-left: auto;
		margin-right: auto;
		background-color: #f0f0f0;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 15px;
}

nav {
	background-color: #20416c;
	margin-top: 1px;
	/*clear: both;*/
}

/* links in the navbar header specifically */
nav a {
	color: white;
    text-decoration: none;
}

/* links in main element, excluding aside element */
main a {
	color: black;
}
main a:hover {
	color: orange;
}

article header, header span {
	padding-left: 10px;
}


/* START START START CSS HOVER
START START START CSS HOVER
START START START CSS HOVER
START START START CSS HOVER
START START START CSS HOVER
*/





header.what:hover {
	visibility: visibile;
}




article a {
	display: inline;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
	color: black;
}

article a:hover {
	color: orange;
}

.menu {
	display: inline;
	font-size: 30px;
	font-variant: small-caps;
	font-weight: bold;
	list-style: none;
	text-align: center;
}

.menu li {
	color: #white;
	display: inline-block;
	position: relative;
	border: 1px solid #f0f0f0;
	background-color: #000019;
	cursor: pointer;
	width: 125px;
	padding: 0px 0px;
}

.menu li:hover {	
	background-color: #5eafdf;
	color: #fff;
	border: 1px solid #11233b;
}

.menu li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

li.homeUrl {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 25px;
}

li.onUrl {
	color: #fff;
	background-color: #5eafdf;
}

li.offUrl {
	color:white;
	background-color: #11233b;
}

/*a.githuburl, */
li.githubUrl {
	color: #5eafdf;
	font-variant: normal;
	display: inline-block;
	font-size: 25px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	list-style: none;
	text-align: center;
	width: 125px;
	cursor: pointer;
	padding-top: 0px;
		font-style: italic;
}

li.githubUrl:hover {
	font-style: normal;
	background-color: #191900;
	color: #5eafdf;
}

.submenu {
	padding-top: 5px;
	position: absolute;
	top: 30px;
	width: 125.5px;
	opacity: 0;
	visibility: hidden;	
  z-index:1;
	font-size: 20px;
}

.submenu li {
	background-color: #11233b;
	display: block-inline;
	color: #b3b3b3;
	margin-bottom: 1px;
	border-bottom: 1px;
	opacity: .85;
}

.submenu li:hover {
	color: #fff;
	background-color: #5eafdf;
	visibility: visible;
	opacity: .96;
}

section {
	background-color: #bbbbbb;
	margin-top: 1px;
	padding: 0px 5px;
	padding-bottom: 1px;
}

.secTitle {
	font-size: 20px;
	font-weight: bold;
	display: inline;
	padding: 10px;
}

#sectionIndex {
	background-color: #bbbbbb;
	padding-top: 1px;
	padding: 5px;
	height: 400px;
	overflow:auto;
}

/*
section h2 {
	padding-left: 15px;
}*/

article {
	background-color: white;
	padding: 5px;/* 15px;
	padding: 5px;/* 15px;
	padding: 5px 15px;*/
}

/* this is for article 1, 
top position, gives more 
eadroom under section title 
stands for article 1 */
.art1 {
	border-top: 2px;
	border-style: inset;
}

/* this is for the first paragraph,
talking about stuff on the index page */
header.curriculum {
	padding-bottom:20px;
}

/*this is the <hr> style */
/* Single-direction drop shadow */

hr.s4 {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
		margin:0px;
}

main.splitFloatLeft {
	width: 640px;
	float: left;
	margin-bottom: 10px;
}

main.splitFloatRight {
	width: 640px;
	float: right;
	margin-bottom: 10px;
}

main.single{
	width: inherit;
	margin-bottom: 10px;
}

aside {
	background-color: #bbbbbb;
	width: 270px;
	float: right;

	padding: 20px;
	text-align: center;
}

.portImg {
	border: 3px;
	height: 440px;
	width: 264px;
	content: url("img/portfolio-me.jpg");
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}